.mitm-container.popup {
  position: absolute;
  display: block !important;
  z-index: 99998;
  width: 100vw;
}

.axe-run-violation {
  outline: red 5px double;
  position: absolute;
  cursor: pointer;
}

.axe-incomplete {
  outline: #e800ff 3px double;
}
