details.note.svelte-ws3cmd.svelte-ws3cmd {
  padding-left: 14px;
  padding-bottom: 3px;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd {
  color: red;
  cursor: pointer;
  font-size: x-small;
  margin-left: -14px;
  padding-left: 14px;
  list-style: none;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd::-webkit-details-marker {
  display: none;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd:hover {
  background-color: lightgoldenrodyellow;
}

summary.svelte-ws3cmd.svelte-ws3cmd, .item.svelte-ws3cmd.svelte-ws3cmd {
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: small;
}

summary.svelte-ws3cmd.svelte-ws3cmd:hover, .item.svelte-ws3cmd.svelte-ws3cmd:hover {
  background-color: lightblue;
}

summary.fallback.svelte-ws3cmd.svelte-ws3cmd {
  color: darkred;
}

.item.svelte-ws3cmd.svelte-ws3cmd {
  padding-left: 14px;
  font-size: smaller;
  color: #9100cd;
}

.vbox.svelte-zpccy4.svelte-zpccy4 {
  color: blue;
  left: 0;
  right: 0;
}

table.svelte-zpccy4.svelte-zpccy4 {
  width: 100%;
  color: maroon;
  border-collapse: collapse;
}

table.svelte-zpccy4 tr.svelte-zpccy4:hover {
  background: rgba(199, 166, 116, 0.452);
}

table.svelte-zpccy4 tr:hover .kcode.svelte-zpccy4 {
  text-decoration: underline;
}

table.svelte-zpccy4 tr:hover .kcode.svelte-zpccy4:hover {
  color: red;
  cursor: pointer;
}

table.svelte-zpccy4 td.svelte-zpccy4 {
  font-size: small;
  border: 1px solid #999;
  padding-left: 5px;
}

table.svelte-zpccy4 .no.svelte-zpccy4 {
  padding: 0;
  width: 25px;
  text-align: center;
}

table.svelte-zpccy4 .kcode.svelte-zpccy4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

table.svelte-zpccy4 .title.svelte-zpccy4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
}

[type=checkbox].svelte-1rq1tjf.svelte-1rq1tjf {
  vertical-align: middle;
}

details.rows.svelte-1rq1tjf.svelte-1rq1tjf {
  padding-left: 16px;
}

details.row-data.svelte-1rq1tjf.svelte-1rq1tjf {
  padding-left: 14px;
}

summary.title.svelte-1rq1tjf.svelte-1rq1tjf, .row-data.svelte-1rq1tjf pre.svelte-1rq1tjf {
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: small;
  margin: 0;
}

summary.st2x.svelte-1rq1tjf.svelte-1rq1tjf {
  color: #30047e;
}

summary.st3x.svelte-1rq1tjf.svelte-1rq1tjf, summary.st4x.svelte-1rq1tjf.svelte-1rq1tjf, summary.st5x.svelte-1rq1tjf.svelte-1rq1tjf {
  color: #b40000;
}

summary.title.svelte-1rq1tjf.svelte-1rq1tjf:hover {
  background-color: lightgoldenrodyellow;
}

div.item.svelte-1kmn8hs {
  padding-left: 14px;
}

summary.title.svelte-1kmn8hs, pre.svelte-1kmn8hs {
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: small;
  margin: 0;
}

summary.title.svelte-1kmn8hs:hover {
  background-color: lightgoldenrodyellow;
}