details.note.svelte-ws3cmd.svelte-ws3cmd {
  padding-left: 14px;
  padding-bottom: 3px;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd {
  color: red;
  cursor: pointer;
  font-size: x-small;
  margin-left: -14px;
  padding-left: 14px;
  list-style: none;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd::-webkit-details-marker {
  display: none;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd:hover {
  background-color: lightgoldenrodyellow;
}

summary.svelte-ws3cmd.svelte-ws3cmd, .item.svelte-ws3cmd.svelte-ws3cmd {
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: small;
}

summary.svelte-ws3cmd.svelte-ws3cmd:hover, .item.svelte-ws3cmd.svelte-ws3cmd:hover {
  background-color: lightblue;
}

summary.fallback.svelte-ws3cmd.svelte-ws3cmd {
  color: darkred;
}

.item.svelte-ws3cmd.svelte-ws3cmd {
  padding-left: 14px;
  font-size: smaller;
  color: #9100cd;
}

[type=checkbox].svelte-16igz4b.svelte-16igz4b {
  vertical-align: middle;
}

.sv-rows.svelte-16igz4b.svelte-16igz4b {
  padding-left: 16px;
}

.sv-row-data.svelte-16igz4b.svelte-16igz4b {
  padding-left: 14px;
}

.sv-title.svelte-16igz4b.svelte-16igz4b, .sv-row-data.svelte-16igz4b pre.svelte-16igz4b {
  font-family: Consolas, Monaco, Courier, monospace;
  font-weight: bold;
  font-size: small;
  margin: 0;
}

summary.svelte-16igz4b.svelte-16igz4b:is(.st2x) {
  color: #30047e;
}

summary.svelte-16igz4b.svelte-16igz4b:is(.st3x, .st4x, .st5x) {
  color: #b40000;
}

.sv-POST.svelte-16igz4b.svelte-16igz4b, .sv-PUT.svelte-16igz4b.svelte-16igz4b {
  color: crimson;
}

.sv-DELETE.svelte-16igz4b.svelte-16igz4b {
  color: red;
}

.sv-path.svelte-16igz4b.svelte-16igz4b {
  color: darkgreen;
}

.sv-fullpath.svelte-16igz4b.svelte-16igz4b {
  color: darkmagenta;
}

.sv-title.svelte-16igz4b.svelte-16igz4b:hover {
  background-color: lightgoldenrodyellow;
}

.vbox.svelte-zpccy4.svelte-zpccy4 {
  color: blue;
  left: 0;
  right: 0;
}

table.svelte-zpccy4.svelte-zpccy4 {
  width: 100%;
  color: maroon;
  border-collapse: collapse;
}

table.svelte-zpccy4 tr.svelte-zpccy4:hover {
  background: rgba(199, 166, 116, 0.452);
}

table.svelte-zpccy4 tr:hover .kcode.svelte-zpccy4 {
  text-decoration: underline;
}

table.svelte-zpccy4 tr:hover .kcode.svelte-zpccy4:hover {
  color: red;
  cursor: pointer;
}

table.svelte-zpccy4 td.svelte-zpccy4 {
  font-size: small;
  border: 1px solid #999;
  padding-left: 5px;
}

table.svelte-zpccy4 .no.svelte-zpccy4 {
  padding: 0;
  width: 25px;
  text-align: center;
}

table.svelte-zpccy4 .kcode.svelte-zpccy4 {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

table.svelte-zpccy4 .title.svelte-zpccy4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
}

.sv-item.svelte-dsvxnv {
  padding-left: 14px;
}

.sv-title.svelte-dsvxnv, pre.svelte-dsvxnv {
  font-family: Consolas, Monaco, Courier, monospace;
  font-size: small;
  margin: 0;
}

.sv-title.svelte-dsvxnv:hover {
  background-color: lightgoldenrodyellow;
}