details.note.svelte-ws3cmd.svelte-ws3cmd {
  padding-left: 14px;
  padding-bottom: 3px;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd {
  color: red;
  cursor: pointer;
  font-size: x-small;
  margin-left: -14px;
  padding-left: 14px;
  list-style: none;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd::-webkit-details-marker {
  display: none;
}

details.note.svelte-ws3cmd summary.svelte-ws3cmd:hover {
  background-color: lightgoldenrodyellow;
}

summary.svelte-ws3cmd.svelte-ws3cmd, .item.svelte-ws3cmd.svelte-ws3cmd {
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: small;
}

summary.svelte-ws3cmd.svelte-ws3cmd:hover, .item.svelte-ws3cmd.svelte-ws3cmd:hover {
  background-color: lightblue;
}

summary.fallback.svelte-ws3cmd.svelte-ws3cmd {
  color: darkred;
}

.item.svelte-ws3cmd.svelte-ws3cmd {
  padding-left: 14px;
  font-size: smaller;
  color: #9100cd;
}

[type=checkbox].svelte-wtlyn9.svelte-wtlyn9 {
  vertical-align: middle;
}

.sv-session.svelte-wtlyn9 summary.svelte-wtlyn9 {
  cursor: pointer;
}

.sv-session.svelte-wtlyn9 summary.sv-main.svelte-wtlyn9:hover {
  background-color: lightgoldenrodyellow;
}

.sv-rows.svelte-wtlyn9.svelte-wtlyn9 {
  padding-left: 16px;
}

.sv-row-data.svelte-wtlyn9.svelte-wtlyn9 {
  padding-left: 14px;
}

.sv-total.svelte-wtlyn9.svelte-wtlyn9 {
  font-size: x-small;
  vertical-align: text-top;
  color: darkmagenta;
}

.sv-title.svelte-wtlyn9.svelte-wtlyn9, .sv-row-data.svelte-wtlyn9 pre.svelte-wtlyn9 {
  font-family: monospace;
  font-weight: bold;
  font-size: small;
  margin: 0;
}

.sv-title.sv-html.svelte-wtlyn9.svelte-wtlyn9, .sv-row-data.svelte-wtlyn9 pre.sv-html.svelte-wtlyn9 {
  font-size: x-small;
}

summary.svelte-wtlyn9.svelte-wtlyn9:is(.st2x) {
  color: #30047e;
}

summary.svelte-wtlyn9.svelte-wtlyn9:is(.st3x, .st4x, .st5x) {
  color: #b40000;
}

.sv-POST.svelte-wtlyn9.svelte-wtlyn9, .sv-PUT.svelte-wtlyn9.svelte-wtlyn9 {
  color: crimson;
}

.sv-DELETE.svelte-wtlyn9.svelte-wtlyn9 {
  color: red;
}

.sv-path.svelte-wtlyn9.svelte-wtlyn9 {
  color: darkgreen;
}

.sv-fullpath.svelte-wtlyn9.svelte-wtlyn9 {
  color: darkmagenta;
}

.sv-title.svelte-wtlyn9.svelte-wtlyn9:hover {
  background-color: lightgoldenrodyellow;
}

.vbox.svelte-1e9gn7l.svelte-1e9gn7l {
  color: blue;
  left: 0;
  right: 0;
}

table.svelte-1e9gn7l.svelte-1e9gn7l {
  width: 100%;
  color: maroon;
  border-collapse: collapse;
}

table.svelte-1e9gn7l tr.svelte-1e9gn7l:hover {
  background: rgba(199, 166, 116, 0.452);
}

table.svelte-1e9gn7l tr:hover .kcode.svelte-1e9gn7l {
  text-decoration: underline;
}

table.svelte-1e9gn7l tr:hover .kcode.svelte-1e9gn7l:hover {
  color: red;
  cursor: pointer;
}

table.svelte-1e9gn7l td.svelte-1e9gn7l {
  border: 1px solid #999;
  padding-left: 5px;
}

table.svelte-1e9gn7l .no.svelte-1e9gn7l {
  padding: 0;
  width: 25px;
  text-align: center;
}

table.svelte-1e9gn7l .kcode.svelte-1e9gn7l {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

table.svelte-1e9gn7l .title.svelte-1e9gn7l {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 50%;
}

.sv-item.svelte-1hx80ts {
  padding-left: 14px;
}

.sv-title.svelte-1hx80ts, pre.svelte-1hx80ts {
  font-family: monospace;
  font-size: small;
  margin: 0;
}

.sv-title.sv-html.svelte-1hx80ts, pre.sv-html.svelte-1hx80ts {
  font-size: x-small;
}

.sv-title.svelte-1hx80ts:hover {
  background-color: lightgoldenrodyellow;
}

.sv-respBody.svelte-1hx80ts {
  color: blueviolet;
  font-weight: 600;
}

.sv-respBody.svelte-1hx80ts:is(.st4x, .st5x) {
  color: red;
}

.sv-reqsBody.svelte-1hx80ts {
  color: mediumvioletred;
  font-weight: 600;
}